.greeting-modal {
    position: absolute;
    display: flex;
    justify-content: center;
    background-color: rgba(46, 206, 212, 0.952);
    top: 0;
    right: 0;
    left: 0;
    height: 100%;

    &__content {
        margin-top: 100px;
    }

    &__title {
        text-transform: uppercase;
        font-weight: bold;
    }

    &__button {
        margin-top: 100px;
        padding: 15px 30px;
        border: 1px solid #c0c0c0;
        background-color: #79eeda;;
        font-size: 16px;
        cursor: pointer;
        border-radius: 5px;
        transition: 0.3s ease-in;

        &:hover {
            background-color: #fff;
        }
    }
}